<div class="comment">
            <p>{{this.content}}</p>
    <form action="/posts/comments/{{this._id}}?_method=DELETE" method="POST">
        <input type="hidden" value="{{postId}}" name="postId">
        <button type="submit" name="button">Delete</button>
    </form>
</div>
