<div class="comment">
            <p>{{this.content}}</p>
    <form action="/posts/{{postId}}/comments/new?_method=DELETE" method="POST">
        <button type="submit" name="button">Delete</button>
    </form>
</div>
