<div class="comment">
    <form method="POST" action="/posts/comments">
        <img src="/assets/testImage.jpg">
        <textarea value="comment" placeholder="Leave A Comment" rows="2"></textarea>
        <button type="submit" name="comment">Comment</button>
    </form>
</div>
