<nav>
    <ul>
        <li><h1>Locale</h1></li>
        <li><a href='/posts'>Home</a></li>
        <li><a href=''>Trending</a></li>
        <li><a href=''>Notifications</a></li>
        <li><a href=''>Messages</a></li>
        <li><form action="submit"><input type="search"placeholder="Search"></input></form></li>
        <div onclick="ddSwap()">
            <li><a>{{User.name}}</a></li>
            <li>
                <img class="avatar" src='/assets/blankUser.png'>
                <ul id="dropdownClosed">
                        <li><a href="">Account</a></li>
                        <li><a href="">Settings</a></li>
                        <li><a href="">Help</a></li>
                        <li><a href="">Log Out</a></li>
                </ul>
            </li>
        </div>
    </ul>
</nav>
