<form method="POST" action="/posts">
<h1>Make a Post</h1>
<input type="text" name="user" placeholder="Your Name">
<textarea id="content" name="content" placeholder="Write something here..."></textarea>
<div>
    <button type="submit" name="post">Post</button>
</div>

</form>
