<div class="post">
    <div class="postContent">
        <img src='/assets/testImage.jpg'>
        <h2>User Name Here</h2>
        <!-- soon to be {{this.user}} -->
        <p>{{this.content}}</p>
    </div>
</div>
