<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Intensive Project</title>
  <link rel='stylesheet' type='text/css' href='/styles/styles.css' />

</head>
<body>

  {{{body}}}

</body>
</html>
