<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Tapioka</title>
        <link rel='stylesheet' type='text/css' href='/styles/styles.css' />
    </head>
    <body>
        {{>nav}}
        <div class="container">
            <div class="friends">
                <h2>Friends</h2>
                <ul>
                    <li><img src="/assets/testImage.jpg" /><span>placeholder</span></li>
                </ul>
            </div>
            <div class="feed">
                <div class="poster">
                    {{>post-form}}
                </div>
                <div class="posts">
                    {{#each post}}
                        <div class="post">
                            <div class="postContent">
                                <img src="/assets/testImage.jpg">
                                <h2>User Name Here</h2>
                                <p>{{this.content}}</p>
                            </div>
                            <div class="buttons">
                                <form action="/posts/{{this.id}}/edit">
                                    <button>Edit</button>
                                </form>
                                <form action="/posts/{{this.id}}">
                                    <button>View</button>
                                </form>
                            </div>
                        </div>
                        {{else}}
                        <p>no content</p>
                    {{/each}}
                </div>
            </div>
            <div class="topics">
                <h2>Topics</h2>
                <ul>
                    <li>placeholder</li>
                </ul>
            </div>
        </div>
            <script src='/js/ddSwap.js'></script>
    </body>
</html>
