<div class="registerContainer">
    <img src="/assets/testImage.jpg">
    <div class="signup">
        <h2>Join Today</h2>
            <form action="/login" method="POST">
                <input type="text" name="name" placeholder="Name" />
                <!-- <input type="text" name="password" placeholder="Password" /> -->
                <button type="submit" name="login">Login</button>
            </form>
    </div>
</div>
