        {{>nav}}
        <div class="postEdit">
            <form method="POST" action="/posts/{{post._id}}?_method=PUT">
              {{> edit-form}}
                <button type="submit">Post</button>
            </form>
            <form method="POST" action="/posts/{{post._id}}?_method=DELETE">
                <button class="btn btn-primary" type="submit">Delete</button>
            </form>
            <form action='/posts'>
                <button href='/'>Cancel</button>
            </form>
        </div>
