        {{>nav}}
        <div class="singlePost">
            {{>post}}
            {{>commentAdd}}
            {{#each comment}}
                    {{>comments}}
                    {{else}}
                    <p></p>
            {{/each}}
            <form action="/posts">
                <button>Home</button>
            </form>
        </div>
