<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Contractor</title>
        <link rel='stylesheet' type='text/css' href='/styles/styles.css' />
    </head>
    <body>
        <div class="singlePost">
            {{>post}}
            <form action="/">
                <button>Home</button>
            </form>
        </div>
    </body>
</html>
